
@font-face 
{
  font-family: 'heavy_data';
  font-size: 14pt;
  src: url('../fonts/heavy_data.ttf');
}

@font-face 
{
  font-family: 'rosario';
   font-size: 14pt;
  src: url('../fonts/Rosario-Bold.ttf');
}



html {
    font-family: 'rosario', Arial, verdana;
    font-size: 12pt;
    background-color: #000;
    color: #ff005a;
  
}


body {
    font-family: 'rosario', Arial, verdana;
    font-size: 12pt;
    padding-top: 50px;
    padding-bottom: 20px;
  
}

h1, h2, h3, h4, h5, h6
{
    font-family: 'rosario', Arial, verdana;
}