
@font-face 
{
  font-family: 'heavy_data';
  font-size: 14pt;
  src: url('../fonts/heavy_data.ttf');
}

@font-face 
{
  font-family: 'rosario';
   font-size: 14pt;
  src: url('../fonts/Rosario-Bold.ttf');
}



html {
    font-family: 'rosario', Arial, verdana;
    font-size: 12pt;
    background-color: #000;
    color: #ff005a;
  
}


body {
    font-family: 'rosario', Arial, verdana;
    font-size: 12pt;
    padding-top: 50px;
    padding-bottom: 20px;
  
}

h1, h2, h3, h4, h5, h6
{
    font-family: 'rosario', Arial, verdana;
}

.button-color
{
    background: #282828;
    color: #ff005a;
    border: 2px solid rgba(67, 67, 67, 1);
    box-shadow: 5px 0px 20px #000000 inset, 0px 0px 20px rgba(21, 36, 57, 0.6);
}

.button-color a
{
    text-decoration: none;
}

.button-color:hover
{
    background: #4A4A4A;
    color: #ffb8b8;
    border: 2px solid rgba(87, 87, 87, 1);
    box-shadow: 5px 0px 20px #000000 inset, 0px 0px 20px rgba(21, 36, 57, 0.6);
}

.button-color:active
{
    background: #170707;
    color: #ffb8b8;
    border: 2px solid rgba(87, 87, 87, 1);
    box-shadow: 5px 0px 20px #000000 inset, 0px 0px 20px rgba(21, 36, 57, 0.6);
}

a {
  color: #ff005a;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #ffb8b8;
  text-decoration: none;
}

