@{
    //ViewBag.Title = "Contact";
    //ViewBag.Title = "Profile";
    ViewBag.Title = "Video Upload";
}
<h2>@ViewBag.Title.</h2>

@*<h3>@ViewBag.Message</h3>*@

@*<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>*@

@*<h4>Edit your profile.</h4>*@
<h4>Browse for your video to upload.</h4>
<hr />

@*Dummy Data used for Video Upload screen shot*@

<div class="form-group">
    <div class="col-md-2 control-label">Browse for video</div>
    <div class="col-md-10">
        <input class="form-control" value="Browse.." /><br>
    </div>
</div>
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" class="btn btn-default" value="Upload Video" />
    </div>
</div>

@*<div class="form-group">
    <label class="col-md-2 control-label">First Name</label>
    <div class="col-md-10">
        <input class="form-control" value="John" /><br>
    </div>
</div>

<div class="form-group">
    <label class="col-md-2 control-label">Last Name</label>
    <div class="col-md-10">
        <input class="form-control" value="Doe" /><br>
    </div>
</div>

<div class="form-group">
    <label class="col-md-2 control-label">Address</label>
    <div class="col-md-10">
        <input class="form-control" value="One Microsoft Way " /><br>
    </div>
</div>

<div class="form-group">
    <label class="col-md-2 control-label">City</label>
    <div class="col-md-10">
        <input class="form-control" value="Redmond" /><br>
    </div>
</div>

<div class="form-group">
    <label class="col-md-2 control-label">State</label>
    <div class="col-md-10">
        <input class="form-control" value="WA" /><br>
    </div>
</div>


<div class="form-group">
    <label class="col-md-2 control-label">Date of Birth</label>
    <div class="col-md-10">
        <input class="form-control" value=" 03-12-1987" /><br>
    </div>
</div>

<div class="form-group">
    <label class="col-md-2 control-label">IDE</label>
    <div class="col-md-10">
        <input class="form-control" value="Visual Studio 2013" /><br>
    </div>
</div>

<div class="form-group">
    <label class="col-md-2 control-label">Software Specialty</label>
    <div class="col-md-10">
        <input class="form-control" value=".NET Frontend Developer" /><br>
    </div>
</div>

<div class="form-group">
    <label class="col-md-2 control-label">Programming Language</label>
    <div class="col-md-10">
        <input class="form-control" value="ASP.NET" /><br>
    </div>
</div>



<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Save Profile" class="btn btn-default" />
    </div>
</div>*@

<hr />
