@{
    Layout = null;
    
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - DevNet Portal</title>
   
  
    <style>
        body {
            margin: 0px;
            background-color: #000000;
            overflow: hidden;
        }

        .begin {
            /*margin-top: 50px;*/
            height: 55px;
            padding: 10px;
            width: 100%;
            color: #ff005a;
            font-weight: bold;
            font-size: 50px;
            text-align: center;
            margin-bottom: auto;
            margin-top: auto;
            margin-right: auto;
            margin-left: auto;
        }

            .begin a {
                color: #ff005a;
            }

                .begin a:focus {
                    color: #ff558b;
                }

        .begin_button {
            background: url(~/Content/button-icon.png) no-repeat top left;
            display: block;
            width: 255px;
            height: 255px;
            text-indent: -9999px; /* hides the link text */
        }

        .cube {
            width: 100%;
        }
    </style>

</head>
<body>
    <div class="begin">
   
        <a href="@Url.Action("Index")">Enter DevNet
            @*<img src="~/Content/button-icon.png" alt="Enter Site Here" />*@
        </a>
      
    </div>
    <div class="cube" id="cube">
        
    </div>
    @Scripts.Render("~/bundles/three")

</body>
</html>
