@{
    ViewBag.Title = "Home Page";
 }

<style>

    .logo
    {
        background-image: url(~/Content/logos/full_logo.png);
        z-index: 100;
    }
    .nobullets
    {
        list-style-type: none;
    }
    .darkscreen
    {
         color: #544444;
         padding: 25px;
         background-color: rgba(255,255,255,.5);
         border-radius: 30px;
         border: 2px solid #FFFFFF;
         box-shadow: 5px 0px 20px #000000 inset, 0px 0px 20px rgba(255, 255, 255, 0.6);
         position: relative;
         top: 25px;
         left: 105px;
         height: 300px;
         width: 400px;
         z-index: 200;
    }
   

</style>
<div class="logo">
    <div class="jumbotron">

        <div class="darkscreen">

            <p class="lead">DevNet is a portal that serves as an online community for developers and IT employeers to network and talk about technology as well as share knowledge.</p>

            <ul style="list-style-type: none;"><li style="list-style-type: none;">@Html.ActionLink("Learn more", "About", "Home", new { @class = "btn btn-primary btn-lg nobullets" })&raquo;</li></ul>


        </div>
    </div>

    @*<div class="row">
            <div class="col-md-4">
                <h2>ASP.NET RSS Feed</h2>
                <ul>
                    <li>Learn about the latest in ASP.NET Web API 2</li>
                    <li>Build realtime web applications with SignalR.</li>
                    <li>Deploy a Mobile-Friendly ASP.NET MVC 5 Web Application on Windows Azure Web Sites</li>
                    <li>Develop iPhone applications with ASP.NET</li>
                </ul>
            </div>

        </div>*@
</div>