
@{
    ViewBag.Title = "Manage";
}

<h2>Manage The Site</h2>

<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li><button type="button" class="btn btn-primary btn-lg button-color">@Html.ActionLink("Favorite IDEs", "Index", "FavoriteIDE")</button></li>
        <li><button type="button" class="btn btn-primary btn-lg button-color">@Html.ActionLink("Software Specialties", "Index", "SoftwareSpecialty")</button></li>
        <li><button type="button" class="btn btn-primary btn-lg button-color">@Html.ActionLink("Programming Languages", "Index", "ProgrammingLanguage")</button></li>
    </ul>
</div>