
@{
    ViewBag.Title = "Manage";
}

<h2>Manage The Site</h2>

<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Favorite IDEs", "Index", "FavoriteIDE")</li>
        <li>@Html.ActionLink("Software Specialties", "Index", "SoftwareSpecialty")</li>
        <li>@Html.ActionLink("Programming Languages", "Index", "ProgrammingLanguage")</li>
    </ul>
</div>